header{
    background-color: #152237;
    height: 80px;
    padding: 8px 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: center;
}
header > * {
	width: 100%;
	display: flex;
}

header > * > * {
	align-self: center;
}

.logo{
    width: 84px;
    height: 31px;
	margin-left: 11px;
}

.hamburger-menu{
	width: 18px;
	height: 100%;
	padding-block: 18px;
	margin-right: 21px;
	display: flex;
	flex-direction: column;
	background-color: #fff0;
	border: none;
	justify-content: space-evenly;
	align-items: center;
	align-self: center;
}


:has(>.hamburger-menu){
	justify-content: right;
}

header form{
	border: 2px solid #fff;
	border-radius: 6px;
}

header input{
	flex-grow: 1;
}

.search-bar input{
	text-align: left;	
}



header :is(.medium-icon,.large-icon){
	align-self: center;
}


@media(width > 1600px){
	.hamburger-menu{
		display: none;
	}
}