@import url("./reset.css");

@import url("./theme.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./utils.css");



main{
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.course-list{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

