@import url("./reset.css");
@import url("./vars.css");
@import url("./theme.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./utils.css");



main{
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.bg-header{
	background: linear-gradient(to left,#44dd89aa,#2DCAB688,#15b6e2aa), no-repeat url("../assets/bg-header.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 2em;
}


.course-list{
    padding: 2em;
	row-gap: 3em;
	column-gap: 2em;
}

.course-list > li{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course-illustration{
	display: block;
	position: relative;
	width: 305px;
	height: 9.5em;
	margin-bottom: 2em;
	background-color: #44dd8a;
}

.course-illustration > .price-container{
	position: absolute;
	bottom: -9%;
	right: 1%;
}

.price-container{
	display: flex;
	justify-content: right;
	background-color: transparent;
}

.course-price{
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-right: 2em;
	gap: 0.5em;
	color: #FFF;
	width: fit-content;
	padding: 5px;
	border-radius: 1em;
	box-shadow: 2px 3px 6px 1px rgb(82, 82, 82);
}

.course-descriptor > :is(p,strong){
	text-align: justify;
}
.course-descriptor{
	margin-inline-start: .5em;
}


.round-portrait{
	border-radius: 50%;
}

img{
	max-width: 100%;
}
.padding-logo{
	padding-inline: 4em;
	padding-block: 6em;
}

form{
	display: flex;
	flex-direction: column;
	gap: 1em;
}

form *{
	width: 100%;
}
input,textarea{
	padding: 0.5em;
}

.note{
	display: flex;
	flex-direction: row;
	width: 5em;
}

.full-star,.empty-star{
	width: 1.2em;
	height: 1.2em;
	background-color: transparent;
	fill: #FFC700;
}
.empty-star{
	fill-opacity: 30%;
}

.spacer{
	width: 100vw;
	height: 1em;
}