@import url("./reset.css");
@import url("./vars.css");
@import url("./theme.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./utils.css");


/*
main{
    display: flex;
    flex-direction: column;
}
*/

header,footer,main{
	width: 100vw;
}

.bg-header{
	background: linear-gradient(to right,#44DD8ABB,#15B7E2BB), url("../assets/bg-header.png");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding: 16px 16px 34px 16px;
	aspect-ratio: 16/9;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.bg-header article{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1{
	text-transform: uppercase;
	margin-top: 13px;
	line-height: 40px;
	font-weight: 800;
	font-size: clamp(32px,3vw,48px);
}

h2{
	text-transform: uppercase;
	margin-block: 27px;
	font-size: 20px;
}

h3{
	margin-top: 30px;
	font-size: 30px;
	font-weight: 800;
}

h4{
	margin-top: 24px;
	font-size: 30px;
	line-height: 40px;
}
h5{
	font-size: 30px;
	text-transform: uppercase;
}

h6{

	font-size: 30px;
	margin-bottom: 13px;
	line-height: 36px;
}

.course-list{
    padding: 36px;
	row-gap: 3em;
	column-gap: 2em;
	margin-bottom: 7px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.course-list > li{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 305px;
}

.course-illustration{
	position: relative;
	width: max(100%,305px);
	height: 206px;
	margin-bottom: 21px;
	background-color: #44dd8a;
}

.course-illustration > .price-container{
	position: absolute;
	bottom: -9%;
	right: -11px;
}

.price-container{
	display: flex;
	justify-content: right;
	background-color: transparent;
}

.course-price{
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-right: 2em;
	gap: 7px;
	color: #FFF;
	width: fit-content;
	padding: 6px 11px;
	border-radius: 2em;
	box-shadow: 5px 4px 13.2px -1px #0004;
}

.course-price :nth-child(1){
	font-size: 20px;
}
.course-price :nth-child(2){
	font-size: 10px;
}

.course-descriptor > :is(p,strong){
	text-align: start;

}
.course-descriptor{
	margin-inline-start: 14px;
}

.course-descriptor :nth-child(1){
	font-size: 24px;
	line-height: 2em;
}


.round-portrait{
	border-radius: 50%;
	margin-bottom: 8px;
}
figcaption{
	margin-bottom: 5px;
}

img{
	max-width: 100%;
}

.customer-feedback{
	max-width: 41em;
}

.customer-feedback p{
	line-height: 30px;
	font-size: 16px;
}



.padding-logo{
	padding-inline: 90px;
	padding-block: 146px;
}

form{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contact-form *{
	width: 100%;
}
input,textarea{
	padding: 0.5em;
}

input{
	max-width: min(100%, 600px);
}

form{
	align-self: center;
}

.note{
	display: flex;
	flex-direction: row;
	width: 120px;
	gap: 4px;
	margin-block: 8px;
}

.spacer{
	width: 100vw;
	height: 1em;
}


.medium-icon,.large-icon{
	width: auto;
	height: auto;
}


.medium-icon{
	min-width: 24px;
	min-height: 24px;
	max-width: 24px;
	max-height: 24px;
}
.large-icon{
	min-width: 30px;
	min-height: 30px;
	max-width: 30px;
	max-height: 30px;
}

.full-star,.empty-star{
	width: 20px;
	height: 20px;
	background-color: transparent;
	fill: #FFC700;
}

.empty-star{
	fill-opacity: 30%;
}



@media (width > 1600px){
	.contact-form{
		padding-inline: 7em;
	}
	h3,h4,h6{
		text-align: start;
	}

	h6{
		margin-bottom: 43px;
	}

	.center-text{
		text-align: center;
	}

	.courses-container{
		padding-inline: clamp(16px,2vw,100px);
	}
	.customer-container{
		margin-right: auto;
	}
}