@import url("./reset.css");
@import url("./vars.css");
@import url("./theme.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./utils.css");



main{
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.bg-header{
	background: linear-gradient(to left,#44dd89aa,#2DCAB688,#15b6e2aa), url("../assets/bg-header.png");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding: 34px;
	aspect-ratio: 16/9;
}
h1{
	margin-top: 13px;
}

h2{
	margin-block: 27px;
	font-size: 20px;
}

h3{
	margin-top: 12px;
	font-size: 30px;
}

h4{
	margin-top: 24px;
	font-size: 30px;
}
h5{
	margin-top: 20px;
	font-size: 30px;
}

h6{
	font-size: 30px;
	margin-bottom: 13px;
}

.course-list{
    padding: 36px;
	row-gap: 3em;
	column-gap: 2em;
	margin-bottom: 7px;
}

.course-list > li{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course-illustration{
	display: block;
	position: relative;
	width: 305px;
	height: 206px;
	margin-bottom: 21px;
	background-color: #44dd8a;
}

.course-illustration > .price-container{
	position: absolute;
	bottom: -9%;
	right: 11px;
}

.price-container{
	display: flex;
	justify-content: right;
	background-color: transparent;
}

.course-price{
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-right: 2em;
	gap: 7px;
	color: #FFF;
	width: fit-content;
	padding: 5px;
	border-radius: 1em;
	box-shadow: 5px 4px 13.2px -1px #0004;
}

.course-descriptor > :is(p,strong){
	text-align: justify;

}
.course-descriptor{
	margin-inline-start: 14px;
}


.round-portrait{
	border-radius: 50%;
}

img{
	max-width: 100%;
}
.padding-logo{
	padding-inline: 4em;
	padding-block: 6em;
}

form{
	display: flex;
	flex-direction: column;
	gap: 1em;
}

form *{
	width: 100%;
}
input,textarea{
	padding: 0.5em;
}

.note{
	display: flex;
	flex-direction: row;
	width: 5em;
}

.full-star,.empty-star{
	width: 1.2em;
	height: 1.2em;
	background-color: transparent;
	fill: #FFC700;
}
.empty-star{
	fill-opacity: 30%;
}

.spacer{
	width: 100vw;
	height: 1em;
}