*{
    margin: 0;
    padding: 0;
    text-align: center;
	list-style: none;
	box-sizing: border-box;
	line-height: 28px;
  	font-family: "Montserrat", sans-serif;

}

a{
	text-decoration: none;
}

img{
	display: block;
}

p{
	font-size: 20px;
}

button{
	border: none;
}

input{
	border: none;
}
