*{
    margin: 0;
    padding: 0;
    text-align: center;
	list-style: none;
	box-sizing: border-box;
	line-height: 22px;
  	font-family: "Montserrat", sans-serif;
	max-width: 100vw;

}

a{
	text-decoration: none;
}

img{
	display: block;
}

p{
	font-size: 16px;
}

button{
	border: none;
}

input{
	border: none;
	font-size: 15px;
	padding: 16px 32px;
}

section{
	width: 100%;
}