

.blue-theme{
	--accent-color : #fff;
	--background-color : var(--dark-blue);
	background-color: var(--background-color);
}
.blue-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}

.white-theme{
	--accent-color : var(--dark-blue);
	--background-color : #fff;
	background-color: var(--background-color);
}
.white-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}

.green-theme{
	--accent-color : rgb(0,0,0,80%);
	--background-color : #44dd8a;
	background-color: var(--background-color);
}
.green-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}


.green-theme.btn{
	color:#152237;;
}

.gradient{
	background: linear-gradient(to left,#44dd89aa,#2DCAB688,#15b6e2aa);
}