

.blue-theme{
	--accent-color : #fff;
	--background-color : var(--dark-blue);
	background-color: var(--background-color);
}
.blue-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}

.white-theme{
	--accent-color : var(--dark-blue);
	--background-color : #fff;
	background-color: var(--background-color);
}
.white-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}

.white-theme :is(.large-icon, .medium-icon){
	fill: #44DD8A;
}



.green-theme{
	--accent-color : rgb(0,0,0,80%);
	--background-color : #44dd8a;
	background-color: var(--background-color);
}
.green-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}


:is(.green-theme, .blue-theme) :is(.large-icon, .medium-icon){
	fill: #fff;
}



.green-theme.btn{
	color:#152237;;
}

.gradient{
	background: linear-gradient(to right,#44DD8A,#18A0FB);
}