

.blue-theme{
	--accent-color : #fff;
	--background-color : var(--dark-blue);
	background-color: var(--background-color);
}
.blue-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}

.white-theme{
	--accent-color : var(--dark-blue);
	--background-color : #fff;
	background-color: var(--background-color);
}
.white-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}

.white-theme :is(.large-icon, .medium-icon){
	--color :var(--electric-green);
	fill: var(--color);
}



.green-theme{
	--accent-color : rgb(0,0,0,80%);
	--background-color : var(--electric-green);
	background-color: var(--background-color);
}
.green-theme *{
	background-color: var(--background-color);
	color: var(--accent-color);
}


:is(.green-theme, .blue-theme) :is(.large-icon, .medium-icon){
	--color: #fff;
	fill: var(--color);
}

.hollow-icon{
	fill: #fff0 !important;
	stroke-width: 32px;
	stroke: var(--color) !important;
}


.green-theme.btn{
	color:var(--dark-blue);
}

.gradient{
	background: linear-gradient(to right,var(--electric-green),#18A0FB);
}