.blue-text{
	color: var(--dark-blue);
}

.btn{
	padding: 11px 14px;
	border-radius: 6px;
	border-color: transparent;
	font-size: 15px;
	width: fit-content;
	height: auto;
	border: none;
	max-height: 40px;
}

.large-btn{
	width: min(356px,100%);
}

.padding-block{
	padding-block: clamp(28px,5vw,58px);
}
.padding-inline{
	padding-inline: clamp(16px,5vw,132px);
}

.margin-inline-auto{
	margin-inline: auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.flex{
	display: flex;
}

.line-through{
	text-decoration: line-through;
	font-size: 10px;
}

.justify-left{
	text-align: start;
}

.center-x{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-self-x{
	align-self: center;
}

.margin-auto{
	margin: auto;
}

.mb-xl{
	margin-bottom: 37px;
}

.mb-22{
	margin-bottom: 22px;
}
.mb-30{
	margin-bottom: 30px;
}
.mt-30{
	margin-top: 30px;
}

.mt-x{
	margin-top: 26px;
}

.mt-m{
	margin-top: 20px;
}
.no-shadow{
	box-shadow: none !important;
}

.padding-inline-m{
	padding-inline: clamp(32px,8vw,98px);
}

.padding-inline-s{
	padding-inline: 24px;
}
.padding-inline-xs{
	padding-inline: 8px;
}
.margin-inline-xs{
	margin-inline: 10px;
}

.mb-16{
	margin-bottom: 16px;
}

.padding-block-m{
	padding-block: 32px;
}

.uppercase{
	text-transform: uppercase;
}

.gap-28px{
	gap: 28px;
}

.gap-1em{
	gap: 1em;
}


.font-size-15, .font-size-15 *{
	font-size: 15px;
}

.font-size-24,.font-size-24 *{
	font-size: 24px;
}

.font-size-20,.font-size-20 *{
	font-size: 20px;
}

.font-medium{
	font-weight: 600;
}
.font-small{
	font-weight: 500;
}
.font-black{
	font-weight: 900;
}

.row{
	flex-grow: 1;
	flex-direction: row;
}

.margin-right-16px{
	margin-right: 16px;
}
.margin-right-39px{
	margin-right: 39px;
}

.bold{
	font-weight: bold;
}

.wrappable{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.mr-auto-on-children > *{
	margin-right: auto;
}

.space-between{
	justify-content: space-between;
}

.flex-1{
	flex-grow: 1;
}


.col{
	flex-direction: column;
	display: flex;
}

.green-border{
	border-top: solid 2px var(--electric-green);
}

.flex-right{
	justify-content: right;
}

.line-height-2{
	line-height: 2;
}

.space-evenly{
	justify-content: space-evenly;
}



@media(width < 1600px) {
	.hidden-on-mobile{
    	display: none !important;
	}	
}

@media (width > 1600px){
	.row-widescreen{
		flex-direction: row;
		display: flex;

	}

	.justify-left-widescreen{
		text-align: left;	
	}

	.hidden-on-mobile{
		display: flex;
	}

	.max-width-50-widescreen{
		max-width: 50%;
	}

}