.alternate-color:nth-child(odd){
    background-color: red;
}

.alternate-color:nth-child(even){
    background-color: blue;
}

.alternate-color{
    height: 10em;
    width: 100%;
}

.btn{
	padding: 0.5rem 1rem;
	border-radius: 6px;
	border-color: transparent;
}

.padding-block{
	padding-block: 3em;
}
.padding-inline{
	padding-inline: 3em;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.flex{
	display: flex;
}

.line-through{
	text-decoration: line-through;
}

.justify-left{
	text-align: justify;
}

.hidden-on-mobile{
    display: none;
}

.center-x{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.margin-auto{
	margin: auto;
}


.no-shadow{
	box-shadow: none !important;
}