.alternate-color:nth-child(odd){
    background-color: red;
}

.alternate-color:nth-child(even){
    background-color: blue;
}

.alternate-color{
    height: 10em;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill 1fr);
}



.hidden-on-mobile{
    display: none;
}