.alternate-color:nth-child(odd){
    background-color: red;
}

.alternate-color:nth-child(even){
    background-color: blue;
}

.alternate-color{
    height: 10em;
    width: 100%;
}

.blue-text{
	color: #152237;
}

.btn{
	padding: 11px 14px;
	border-radius: 6px;
	border-color: transparent;
	font-size: 15px;
	width: fit-content;
	height: auto;
	border: none;
}

.padding-block{
	padding-block: 8px;
}
.padding-inline{
	padding-inline: 16px;
}

.padding-inline-102{
	padding-inline: 102px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.flex{
	display: flex;
}

.line-through{
	text-decoration: line-through;
	font-size: 10px;
}

.justify-left{
	text-align: justify;
}

.hidden-on-mobile{
    display: none;
}

.center-x{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.center-self-x{
	align-self: center;
}

.margin-auto{
	margin: auto;
}

.mb-xl{
	margin-bottom: 37px;
}

.mb-22{
	margin-bottom: 22px;
}
.mb-30{
	margin-bottom: 30px;
}
.mt-30{
	margin-top: 30px;
}

.mt-x{
	margin-top: 26px;
}

.mt-m{
	margin-top: 20px;
}
.no-shadow{
	box-shadow: none !important;
}

.padding-inline-m{
	padding-inline: 32px;
}

.padding-inline-s{
	padding-inline: 24px;
}
.padding-inline-xs{
	padding-inline: 8px;
}
.margin-inline-xs{
	margin-inline: 10px;
}

.mb-16{
	margin-bottom: 16px;
}


.uppercase{
	text-transform: uppercase;
}

.gap-28px{
	gap: 28px;
}


.font-size-15 *{
	font-size: 15px;
}

.font-medium{
	font-weight: 600;
}

.row{
	width: 100%;
	flex-direction: row;
}

.margin-right-16px{
	margin-right: 16px;
}
.margin-right-39px{
	margin-right: 39px;
}