.alternate-color:nth-child(odd){
    background-color: red;
}

.alternate-color:nth-child(even){
    background-color: blue;
}

.alternate-color{
    height: 10em;
    width: 100%;
}

.btn{
	padding: 0.5em 1.5em;
	border-radius: 6px;
	background-color: var(--dark-blue);
	color: white;
}

.padding-block{
	padding-block: 3em;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.line-through{
	text-decoration: line-through;
}

.justify-left{
	text-align: justify;
}

.hidden-on-mobile{
    display: none;
}

.center-x{
	display: flex;
	justify-content: center;
}

.margin-auto{
	margin: auto;
}


[class*="note"]{
	position: relative;
	width: calc(5*2em);
	height: 1em;
	background-color: orange;
}

[class*="note"]::after{
	content: "";
	display: block;
	width: calc(var(--note-level)*2em);
	background-color: yellow;
	height: 1em;
}

.note-1{
	--note-level : 1;
}
.note-2{
	--note-level : 2;
}
.note-3{
	--note-level : 3;
}
.note-4{
	--note-level : 4;
}
.note-5{
	--note-level : 5;
}