.alternate-color:nth-child(odd){
    background-color: red;
}

.alternate-color:nth-child(even){
    background-color: blue;
}

.alternate-color{
    height: 10em;
    width: 100%;
}

.blue-text{
	color: #152237;
}

.btn{
	padding: 11px 14px;
	border-radius: 6px;
	border-color: transparent;
	font-size: 15px;
	width: fit-content;
	height: auto;
	border: none;
}

.padding-block{
	padding-block: 8px;
}
.padding-inline{
	padding-inline: 16px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.flex{
	display: flex;
}

.line-through{
	text-decoration: line-through;
}

.justify-left{
	text-align: justify;
}

.hidden-on-mobile{
    display: none;
}

.center-x{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.margin-auto{
	margin: auto;
}

.mb-xl{
	margin-bottom: 37px;
}

.mt-x{
	margin-top: 26px;
}

.note-1{
	--note-level : 1;
}
.note-2{
	--note-level : 2;
}
.note-3{
	--note-level : 3;
}
.note-4{
	--note-level : 4;
}
.note-5{
	--note-level : 5;
}

[class*="note"]{
	position: relative;
	width: calc(5*2em);
	height: 1em;
	background-color: orange;
}

[class*="note"]::after{
	content: "";
	display: block;
	width: calc(var(--note-level)*2em);
	background-color: yellow;
	height: 1em;
}

.no-shadow{
	box-shadow: none !important;
}

.padding-inline-m{
	padding-inline: 32px;
}

.padding-inline-s{
	padding-inline: 24px;
}

.uppercase{
	text-transform: uppercase;
}